<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Docker Compose UI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://rawgithub.com/fabien-d/alertify.js/0.3.11/themes/alertify.core.css">
    <link rel="stylesheet" href="https://rawgithub.com/fabien-d/alertify.js/0.3.11/themes/alertify.default.css">
    <link rel="stylesheet" href="https://rawgithub.com/designmodo/Flat-UI/2.2.2/dist/css/flat-ui.min.css">
  </head>
  <body ng-app="composeUiApp">

    <div class="container" ng-controller="MainCtrl">
        <div class="row text-center">
          <img src="images/logo.png" alt="Docker Compose UI">
        </div>

        <div class="row text-center">
          <div class="col-md-4">
            <h3>Projects</h3>
            <div class="btn-group-vertical projects">
              <a ng-repeat="(id, path) in projects.projects | filterByName:query" class="btn btn-default btn-block" ng-class="{active: activeProject === id}" ng-click="$parent.activeProject = id" ng-href="#/project/{{id}}">{{id}}</a>
            </div>
            <div class="vertical-margin" ng-hide="isEmpty(projects.projects)">
              <form class="form-inline">
                <div class="form-group">
                  <label for="project-filter">filter by project name:</label>
                  <input name="project-filter" type="text" ng-model="query" class="form-control">
                </div>
              </form>
            </div>
            <div ng-show="isEmpty(projects.projects)" class="vertical-margin">
              no projects configured, please run the container with the option
              <pre>-v /home/user/docker-compose-ui/demo-projects:/opt/docker-compose-projects:ro</pre>
            </div>
            <button class="btn btn-default btn-block" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i> Reload projects</button>
            <a class="btn btn-primary btn-block" ng-href="#/"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
          </div>
          <div class="col-md-8">
              <div ng-view=""></div>
          </div>

        </div>

        <footer class="text-center">
            <small class="text-muted"><a href="https://github.com/francescou/docker-compose-ui">Docker Compose UI v.0.9</a>  Licensed under the MIT license.</small>
        </footer>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.0/alertify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/project.js"></script>
    <script src="scripts/controllers/container.js"></script>
    <script src="scripts/directives/actions.js"></script>
    <script src="scripts/directives/project-detail.js"></script>
    <script src="scripts/directives/modal.js"></script>
    <script src="scripts/services/project.js"></script>
    <script src="scripts/services/logs.js"></script>
</body>
</html>
